body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.feedback-btn {
  position: fixed;
  top: 40%;
  left: 100%;
  transform-origin: 0% 0%;
  border: none;
  background: red;
  border-radius: 2px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transform: rotate(90deg);
  color: #ffffff;
  outline: none;
  font-size: 20px;
}
.feedback-btn:hover {
  background: rgb(175, 7, 7);
}
.modal-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.modal-wrapper {
  background: #ffffff;
  width: 40%;
  height: 90%;
  padding: 0.7rem;
  border-radius: 4px;
  box-shadow: rgb(26, 23, 23);
}
.modal-close-btn {
  display: flex;
  justify-content: flex-end;
  font-size: 36px;

  margin-right: 10px;
  margin-top: 0;
}
.modal-close-btn span {
  cursor: pointer;
}

.modal-header {
  display: flex;
  justify-content: center;
}
.modal-textarea textarea {
  resize: none;
  width: 100%;
  height: 20vh;
  overflow-y: scroll;
  font-size: 18px;
}
.modal-textarea p {
  margin-top: 0;
}
.modal-buttons {
  display: flex;
  justify-content: flex-end;
}
.modal-buttons-cancel {
  border: 1px solid rgb(255, 0, 0);
  color: rgb(255, 0, 0);
  background: transparent;
  padding: 1rem 2rem;
  border-radius: 3px;
  font-size: 18px;
  margin-right: 1rem;
}
.modal-buttons-cancel:hover {
  color: white;
  background-color: rgb(148, 15, 15);
  border: 1px solid rgb(148, 15, 15);
}
.modal-buttons-submit {
  background-color: red;
  padding: 1rem 2rem;
  color: white;
  font-size: 18px;
  border-radius: 3px;
  border: none;
}
.modal-buttons-submit:hover {
  background-color: rgb(148, 15, 15);
}
.modal-footer {
  text-align: right;
}
.modal-footer p {
  margin: 0;
  padding: 0;
}
.navbar {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
}
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-logo {
  color: #ffffff;
  cursor: pointer;
  margin-left: 10px;
  font-size: 1rem;
  margin-left: 25px;
  display: flex;
}
.navbar-icon {
  font-size: 2rem;
  margin-left: 1rem;
  align-self: center;
}

.navbar-menu {
  display: none;
}

.navbar-item-container {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0%, 45%);
}
.navbar-items {
  list-style-type: none;
  display: inline;
}
.navbar-links {
  color: #ffffff;
  text-decoration: none;
  margin: 0 2rem;
}

.head-background {
  background-color: rgb(192, 192, 192);
  height: 90vh;
  padding: 1px;
}
.head-innerbox {
  background-color: rgb(251, 249, 249);
  border-radius: 20px;
  width: 50%;
  margin: 70px 0 0 50px;
  padding: 2rem;
}
.head-innerbox h1 {
  font-size: 40px;
  margin-bottom: 0.5rem;
}
.head-innerbox p {
  font-size: 22px;
}
/* underline for the heading*/
.underline {
  height: 0.25rem;
  width: 3rem;
  background: rgb(255, 0, 0);
  margin-top: 0px;
}

.faq-container {
  margin: 0 2rem;
}

.faq-button {
  background-color: Transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq-icon {
  font-size: 30px;
}

.offer-wrapper {
  background-color: green;
}
.offer-wrapper img {
  width: 100%;
  height: 20rem;
}

.review-container {
  background-color: pink;
  border-radius: 0.25rem;
  margin: 1rem 5rem;
  padding: 1rem 0;
}
.review-header {
  text-align: center;
  margin: 0px 0px 1rem 0px;
}
.review-box {
  display: flex;
}
.review-container-1 {
  padding: 0 2rem;
}

.review-container-2 {
  text-align: center;
}
.review-container-2 h1 {
  margin: 0;
}

.review-container img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.review-btn-container {
  display: flex;
  justify-content: center;
}

.review-next-btn,
.review-previous-btn {
  font-size: 2rem;
  outline: none;
  border-color: transparent;
  background: transparent;
  cursor: pointer;
}
.review-next-btn:hover,
.review-previous-btn:hover {
  color: hsl(205, 78%, 60%);
}

.review-image {
  object-fit: cover;
}

.faq-content {
  border-bottom: 1px solid rgb(124, 123, 123);
}

.footer-container {
  background-color: #382d2d;
  justify-content: center;
  align-self: center;
  padding: 2rem 0 2rem 0;
}
.footer-subscribe {
  color: #ffffff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  text-align: center;
}
.footer-subscribe-title {
  font-size: 32px;
}
.footer-subscribe-text {
  font-size: 24px;
}
.footer-input {
  outline: none;
  border: 1px solid white;
  border-radius: 3px;
  font-size: 20px;
  padding: 10px 20px;
  margin-bottom: 10px;
}
.footer-subscribe-btn {
  background-color: transparent;
  color: #ffffff;
  padding: 10px 20px;
  border: 1px solid #ffffff;
  font-size: 20px;
  cursor: pointer;
  outline: none;
}
.footer-subscribe-btn:hover {
  background-color: #272323;
}

.footer-links-container {
  display: flex;
  justify-content: center;
}
.footer-items {
  display: flex;
}
.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2rem;
}
.footer-links h2 {
  margin-bottom: 20px;
  color: #ffffff;
}
.footer-links a {
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 10px;
}
.footer-links a:hover {
  color: #e9dbdb;
}
.footer-socialMediaIcon-items h2 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 0;
}
.socialMediaIcons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.socialMediaLinks {
  color: #ffffff;
  font-size: 30px;
  padding: 0 10px;
}

.footer-copyright {
  border-top: 1px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-copyright p {
  color: #ffffff;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .modal-wrapper {
    width: 100%;
    height: 100%;
    padding: 0.7rem;
  }
  .modal-footer p {
    margin-right: 10px;
  }

  .navbar-menu {
    display: block;
    top: 0;
    right: 0;
    position: absolute;
    color: #ffffff;
    transform: translate(-100%, 0%);
    cursor: pointer;
  }

  .navbar-links {
    display: none;
  }
  .head-background {
    height: 50vh;
  }
  .head-innerbox {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0px;
    text-align: center;
  }
  .underline {
    display: none;
  }
  .review-container {
    margin: 0;
    padding: 0;
    border-radius: 0;
  }
  .review-box {
    flex-direction: column;
  }
  .review-img-container {
    display: flex;
    justify-content: center;
  }
  .review-container-3 p {
    padding: 0 2rem;
  }

  .footer-items {
    flex-direction: column;
  }
}
